@import '~normalize.css';
@import '~hotcss/src/px2rem.scss';
// @import '~antd/dist/antd.css';
// @import "_font";
:global {
    $skinColor: #108EE9;
    $designWidth: 750;
    @function px2rem( $px) {
        @return $px*320/$designWidth/20+rem;
    }
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
    .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .border-box {
        box-sizing: border-box;
    }
    .border-box * {
        box-sizing: inherit;
    }
    .content-box {
        box-sizing: content-box;
    }
    .content-box * {
        box-sizing: inherit;
    }
    .hand {
        cursor: pointer;
    }
    .error {
        color: #f04134!important;
    }
    .sucess {
        color: #20a819;
    }
    .disabled {
        color: #ddd
    }
    .all_warp {
        word-break: break-all;
        word-wrap: break-word;
    }
    .all_nowarp {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .link-color {
        color: #108EE9;
    }
}